@mixin estilosnav {
		background-color:#fff;
	color:#000;
	border:none;
	&:hover {
		background-color:#fff;
		color: #000;
	}
}
@mixin estilosnavactive {
	background-color:#fff;
	color:#000;
	border:none;
	&:hover {
		background-color:#fff;
		color: #000;
		font-weight: bold;
	}
	&:focus {
		background-color:#fff;
		color: #000;
		font-weight: bold;
	}
}